.trend {
	position: relative;
	min-height: 600px;
	width: 100%;
	display: inline-block;

	.fav {
		
		background: url(../../../assets/imgs/icons8-hand-drawn-star-50.png);
		position: absolute;
		height: 50px;
		width: 50px;
		z-index: 1;
		top: 15px;
		right: 15px;
	}
}

.trend-img,
.content {
	position: absolute;
	color: white;
	text-shadow: 2px 2px #000000;
}

.trend-img {
	height: 100%;
	width: 100%;
}

.content {
	bottom: 0;
	left: 0;

	.trend-title,
	.trend-author {
		width: 50%;
		padding-left: 20px;
	}
}

.new {
	position: relative;

	.fav {
		background: url(../../../assets/imgs/icons8-hand-drawn-star-50.png);
		position: absolute;
		height: 50px;
		width: 50px;
		z-index: 1;
		top: 15px;
		left: 5px;
	}

}

.nc {
	width: 100vw;
	position: relative;
	
}

.news-list {
	display: flex;
	flex-wrap: wrap;
}

.news-container {
	position: relative;
	// overflow: hidden;
	height: 800px;
	width: 500px;

	.img-banner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

	}

	.content-news {
		bottom: 0;
	}
}


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lexend+Deca:wght@200;300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Inter: "Inter", sans-serif;
	--Lexend: "Lexend Deca", sans-serif;

	--purple-light: #8257e6;
	--white: #fefbfb;
	--white200: #c4c4c4;
	--gray200: #282830;
	--dark: #13131f;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: var(--gray200);
}

::-webkit-scrollbar-thumb {
	background: var(--purple-light);
}

/* SUPPORT SCROLLBAR */
@supports (scrollbar-color: gray purple) {
	* {
		scrollbar-color: var(--purple-light) var(--gray200);
		scrollbar-width: auto;
	}
}

/* ALL IMGS BUTTON */
.img-btn {
	width: 8rem;
	min-height: 2.5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	border: none;
	text-align: center;
	border-radius: 0.3rem;
	color: var(--white);
	font-family: var(--Lexend);
	font-size: 1.4rem;
	background: var(--purple-light);
}

.scroll-img {
	transition: all 0.3s ease;
	filter: brightness(0.6);
}

.scroll-img:hover {
	filter: brightness(1);
}

.scroll-img {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 20rem;
	min-height: 15.1rem;
	background: url("https://i.imgur.com/PGeufpt.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.scroll-img-item {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
}

.scroll-img-item:nth-child(5) .img-btn {
	top: 1.6rem;
}

.scroll-img-texts {
	display: flex;
	width: 50%;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	align-items: flex-start;
}

.scroll-img-title {
	color: var(--white);
	font-family: var(--Lexend);
	font-size: 1.3rem;
	line-height: 2rem;
}

.scroll-img-text {
	font-family: var(--Inter);
	color: var(--white200);
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.scroll-img-date {
	font-family: var(--Inter);
	font-weight: 600;
	color: var(--white200);
	line-height: 2rem;
}

.scroll-btn {
	background: var(--purple-light);
	border: none;
	border-radius: 0.3rem;
	width: 10rem;
	min-height: 2.5rem;
	transition: all 0.2s;
	margin-left: -30px;
}

.scroll-btn:hover {
	transform: scale(0.9);
}

.scroll-btn a {
	font-family: var(--Inter);
	font-weight: 600;
	color: white !important;
	font-size: 1.1rem;
	color: var(--white);
}

.fav:hover {
	background: url(../../../assets/imgs/icons8-hand-drawn-star-hov-50.png) !important;
	cursor: pointer;


}