<div *ngIf="news" class="container">
    <ul>
        <li *ngFor="let n of news key let i=index">
            <h2>{{n['title']}}</h2>
            <p>{{n["summary"]}}</p>
            <p>By <strong *ngFor="let author of n.authors">{{author}} </strong></p>
        </li>



        <!-- authors
: 
['Chris Katje']
banner_image
: 
"https://cdn.benzinga.com/files/images/story/2022/11/20/darren_rovell_espn.jpg?width=1200&height=800&fit=crop"
category_within_source
: 
"General"
overall_sentiment_label
: 
"Somewhat-Bullish"
overall_sentiment_score
: 
0.150112
source
: 
"Benzinga"
source_domain
: 
"www.benzinga.com"
summary
: 
"The battle for sports rights could be heating up with streaming companies entering the market at an increasing rate. Sports industry expert Darren Rovell shares with Benzinga thoughts on the streaming market and who could take market share away from ESPN."
ticker_sentiment
: 
(4) [{…}, {…}, {…}, {…}]
time_published
: 
"20221120T155203"
title
: 
"EXCLUSIVE: Darren Rovell Says ESPN Should Be Worried About Streaming Companies Entering Sports, Especially This Tech Giant - Walt Disney  ( NYSE:DIS ) "
topics
: 
(3) [{…}, {…}, {…}]
url
: 
"https://www.benzinga.com/general/entertainment/22/11/29794210/exclusive-darren-rovell-says-espn-should-be-worried-about-streaming-companies-entering-spor" -->

    </ul>

</div>