<nav class="navigation">
    <a routerLink="/" class="home"></a>
    <ul class="nav-ul">
        <ng-container *ngIf="user && user.id">
            <li>Hello <a routerLink="/user/{{user.id}}/profile">{{user.username}}</a></li>
            <li><a routerLink="/">main</a></li>
            <li><a routerLink="/auth/logout">logout</a></li>
        </ng-container>
        <ng-container *ngIf="!user">
            <li><a routerLink="/auth/login">Login</a></li>
            <li><a routerLink="/auth/register">register</a></li>
        </ng-container>
    </ul>
</nav>
<div class="status" *ngIf="user && user.msg">
   {{user.msg}}
</div>
<!-- <router-outlet></router-outlet> -->