<div class="coin-wrapper" *ngIf="coin">
    <div class="coin-picture">
        <img id="coin-picture" [src]="coin.iconUrl">
    </div>
    <div class="coin-details">
        <div>
            <div class="coin-title">

                <h1 id="coin-name" class="coin-name">{{coin.symbol}}</h1>
            </div>
            <div [innerHTML]="coin.description"></div>
            <ul>
                <li class="coin coin-number">
                    <h1>Rank: </h1>
                    <h2 id="coin-second-number">{{coin.rank}}</h2>
                </li>
                <li class="coin coin-number">
                    <h1>Price: </h1>
                    <h2 id="coin-first-number">{{coin.price | number}}</h2>
                </li>
                <li class="coin coin-email">
                    <h1>Symbol: </h1>
                    <h2 id="coin-primary-email">{{coin.symbol}}</h2>
                </li>
            </ul>
            <div class="cta-holder">

                <div class="tags">
                    <h3>Tags</h3>
                    <span *ngFor="let t of coin.tags"><i>{{t}}</i></span>
                </div>
                <button (click)="onWatchHandler(coin)" class="cta">Watch</button>
            </div>
        </div>
    </div>
</div>
