.container {
    height: 600px;
    overflow-x: hidden;
    margin-left: 20px;
    * {
        padding-left: 10px;
        font-size: 1.5rem;
    }
}
.img {
    width: 50px;
    height: 50px;
}

.cta-buy {
    padding: 5px 10px;
    border: none;
    background-color: darkslategray;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.coins {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;

}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }